
// FORM & INPUT STYLES
fieldset {
  padding : 10px 50px;
}

label {
  text-align: left;
}

input {
  border-bottom: solid 1px $primary;
}


.control-group {
  display: inline-block;
  width: 200px;
  height: 210px;
  margin: 10px;
  padding: 30px;
  text-align: left;
  vertical-align: top;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

}



// --- ADD FLIP FORM


.addFlipper {
  h3{
    font-family: 'VT323', monospace;
    &.title {
      border-bottom: solid 2px $secondary;
      margin-bottom: 1em;
    }
  }

}

.addFlipForm {

  fieldset {
    padding: 0;
  }
  .row {

  }

}

.errorField {
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.onFocusAddress {
  background: $primary;
}

.addressResult {
  padding : 2px;
  font-size: 80%;
  border-radius: 2px;
  margin: 0;
}


// -- INPUT NUMBER ---


.inputNumber {
  text-align: center;
  padding : 6px 5px 0;

  .add {
  font-size: 2rem;
    height: 19px;
  }
  .minus {
    font-size: 2rem;
    transform: rotate(180deg);
    height: 19px;
  }

}



// ____ BTN _________

.gpsBtn {
  float: right;
  margin-right: -15px;
}
@include media-breakpoint-only(xs) {
  .gpsBtn {
    float: none;
    text-align: center;
    margin-right: 0;
  }
}

.btn:focus, .btn:active,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus, .btn:focus {
  outline: none;
  border: none;
  box-shadow:none !important;
}

.btn-primary {
  background: $primary;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $primary, $brand-info);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $primary, $brand-info); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
}

.btn-loading {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #191654, #43C6AC, #191654);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #191654, #43C6AC,  #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  -webkit-animation: Gradient 2s ease infinite;
  -moz-animation: Gradient 2s ease infinite;
  animation: Gradient 2s ease infinite;
  background-size: 400% 400%;

}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}




.btn-bordered {
  background: $primary;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $primary, $brand-info);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $primary, $brand-info); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 // background-size: 400% 100%;
  background-position-x: 67%;
  transition: background-position-x 1s ease, padding-right 0.4s ease;;


  &.clicked {
    //background-position-x: 18%;
    padding-right: 30px;
  }
  &.clicked:after {
    margin-left: 30rem;
    opacity: 1;
  }

  &:after {
    content : '';
    height: 20px;
    width: 20px;
    margin-left: 0.25rem;
    margin-top: -21px;
    border-radius: 50%;
    position: absolute;
    transition: margin-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition-delay: 0.4s;
    z-index: 1;
    opacity: 0;
    background: radial-gradient(circle at 5px 5px, $gray-100, $gray-700);

  }
}

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }

@keyframes walkingGradient {
  0% {
    background-position-x: 31%
  }
  50% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -30%
  }
}



.deleteBtn {
  transition: all 0.4s ease;
}


// Autocomplete Styles


.itemAutocomplete{
  background: $brand-warning;
  color: $gray;
  border-radius:10px;
  padding: 1px 10px;
  opacity: 1;
  width: auto;
  display: inline-block;
  margin: 3px;

  &.highlighted, &:hover {
    background: $brand-info;
    color: $brand-warning;
  }
}

.menuAutocomplete {
  padding-bottom: 1rem;
}



// IMAGE UPLODAD
.imageInput{
  display: none;
}

.imagePreview {
  max-height: 50px;
  text-align: center;
}






//

.control {
  font-size: 18px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: white solid 2px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
  top: -6px;
  left: 4px;
  width: 12px;
  height: 20px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
  display: block;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
}

/* Checked state */
.control input:checked ~ .control__indicator {
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
}