
// HEADER STYLES

.App-header {
  background-color: $brand-warning;
  max-height: 40px;
  padding: 10px;
  color: $brand-primary;
  font-family: 'VT323', monospace ;
  display: flex;
}
.titleDiv{
  flex: 3;
}

@include media-breakpoint-only(xs){
  .titleDiv{
    flex: 1;
  }
}

.headerLink {
  display: flex;
  flex: 1;

  .link{
    flex :1 ;
    justify-self: center;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
}

.App-title {
  font-size: 1.3rem;
  font-family: 'VT323', monospace ;
}


.footer {
  font-size: 0.9rem;
  background: $brand-warning;
  height : 15px;
}