
// HEADER STYLES

.App-header {
  background-color: blue;
  max-height: 50px;
  padding: 10px;
  color: white;
}


.headerLink {
  position: absolute;
  right: 0;
  top : 15px;
  text-align: right;

}
