
// -----------------------
// Main layout Styles
// -----------------------

html,
body{
  height:100%;
  margin:0;
  padding:0;
}

#root, .App{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: hidden;

}

.container, .content {
    flex:1;
    display:flex;
    flex-direction:row;
}

.content {
  box-shadow: 0 4px 3px rgba(0,0,0,0.4),
  0 8px 13px rgba(0,0,0,0.1),
  0 18px 23px rgba(0,0,0,0.1);
}



@include media-breakpoint-only(xs) {
  .content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.App {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2361e294' fill-opacity='0.21'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  overflow: hidden;
}



.content {
  text-align: left;
  background: white;
}

@include media-breakpoint-only(xs) {
  .container {
    padding : 0;
  }
}

// ----- HOME LAYOUT ---

.homeScreen {
  display: flex;
  flex :1;
  flex-direction: column;
}

.mapboxgl-map {
  flex : 2;
  display: flex;
}

.flipDetails {
  flex : 0.00001 0 0;
  display: flex;
  transition: all 0.3s;
  opacity: 0;
  padding: 10px;
  box-shadow: 1px -2px 103px -7px rgba(0,0,0,0.75);
  z-index:200;
  flex-direction: column;
  margin-top: -20px;

  .media {
    padding-top: 10px;
  }

  &.isOpen {
    flex : 1;
    display: flex;
    opacity: 1;
    margin-top: 0;

    .closeIcon {
      transform: rotate(180deg);
    }
    .flipName:after {
      background: none repeat scroll 0 0 $primary;
      bottom: 0;
      content: "";
      display: block;
      height: 6px;
      position: relative;
      width: 60px;
    }

  }
  &.wideOpen {
    flex:3;
  }

  .flipName {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    color: $black;
  }

  .flipName:after {
    background: none repeat scroll 0 0 $primary;
    bottom: 0;
    content: "";
    display: block;
    height: 6px;
    position: relative;
    width: 0;
    transition: all 0.6s ease;
  }
  .placeName {
    margin-bottom: 0;
    margin-top: 4px;
    font-size: 1rem;
  }
  .address {
    font-style: italic;
    font-size: 0.8rem;
    margin-top: -2px;
  }

  .closeIcon {
    height: 20px;
    transition: all 0.6s ease;
  }
}


// FLIP CARD

.flipCardContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex : 1;

  & > div  {
    &:first-child {
      flex: 2;
    }
    flex : 1;
  }
  .deleteDiv {
    align-items: center;
    justify-content: flex-end;;
    display: flex;
    .btn {
      align-self: flex-end;
    }
  }
}