

// ----- NAVBAR -------



// media query

/* Large desktops and laptops */
@include media-breakpoint-up(xl) {
  figcaption h2 {
    margin: 50px 0px;
  }
  figcaption:hover {
    p{
      transform: translateY(-60px);
    }
  }
}

@media (min-width: 1600px) {
  figcaption h2 {
    margin: 60px 0px;
  }
}

/* Landscape tablets and medium desktops */
@include media-breakpoint-only(lg) {
  figcaption h2 {
    margin: 30px 0px;
  }
  figcaption:hover {
    p{
      transform: translateY(-40px);
    }
  }
}

/* Portrait tablets and small desktops */
@include media-breakpoint-only(md) {
  figcaption h2 {
    margin: 10px 0px;
  }
}

/* Landscape phones and portrait tablets */
@include media-breakpoint-only(sm) {
  figcaption:hover {
    h2 {
      height: 10px;
      opacity: 1;
      color : white;
    }
    p{
      transform: translateY(20px);
    }
  }
}

/* Portrait phones and smaller */
@include media-breakpoint-only(xs) {
  figcaption h2 {
    margin: 0px 0px;
  }
  figcaption:hover {
    h2 {
      height: 10px;
      opacity: 1;
      color : white;
    }
    p{
      transform: translateY(0px);
    }
  }
}
