
// -----------------------
// Grabamerica Main Styles
// -----------------------



@import 'variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'layout.scss';
@import 'fonts.scss';
@import 'menu.scss';
@import 'forms.scss';
@import 'header.scss';
@import 'typo.scss';
@import 'map.scss';




// generic styles

a:link, a:hover , a:visited ,a:active {
  text-decoration: none;
  color: inherit;
}

* {
  min-height: 0;
  min-width: 0;
}