


// Colors

$gray : #E6E6E6;
$black : #1A1A1A;

$brand-primary  : #5DFDCB ;
$brand-success : #297373 ;
$brand-info : #61E294;
$brand-warning : #3c4859;
$brand-danger : #C33C54;

$primary:      $brand-primary;
$secondary:     $brand-success;
$success:       $brand-success ;
$info:          $brand-info;
$warning:       $brand-warning;
$danger:        $brand-danger;


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
)